@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "roboto", sans-serif;
  }
  main{
    padding: 0 7rem;
  }