.city {
    background-color: #f3f3f3;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    & i {
      font-size: 1.5rem;
    }
  }
  