@use"../utils/box-shadow";
@use"../utils/zoom";
.explorer {
    text-align: center;
    & h2 {
      margin-top: 2rem;
      font-size: 2rem;
    }
    & p {
      font-size: 1rem;
    }
    & button {
      background-image: linear-gradient(
        0deg,
        rgba(147, 86, 220, 0.9),
        rgba(255, 121, 218, 0.9)
        );
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 2rem;
        transition: transform 0.2s;
        margin-top: 1rem;
        @include box-shadow.base-shadown;
        
      }
      & button:hover{
        @include zoom.transform-zoom;
        opacity: 0.9;
      }
    }
    